/* CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img, button{margin: 0;padding: 0;border: 0;}
html{-webkit-text-size-adjust:none;}
body{font-size:12px;position:relative;*overflow-x:hidden;font-size:62.5%;}
table{border-collapse:collapse; border-spacing:0;}
ol, ul, li{ list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
h1{font-size:28px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{text-decoration:none;color:#666;} 
a:hover{color:#000;text-decoration:none;} 
a:focus{outline:0px dotted;}
a:focus, input:focus{ -moz-outline-style: none; } 
* {font-family:"寰杞榛",Microsoft YaHei,Arial;/*-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;*/}
::selection { background:#0080c8; color:#fff; } ::-moz-selection { background:#0080c8; color:#fff;  } ::-webkit-selection { background:#0080c8; color:#fff;  }
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}



@media screen and (max-width: 980px) {
	.header {position:fixed !important;background:#fff !important;height:100px !important;}
	.clear130 { height:100px !important;}
	.header .header_content { width:90%!important;}
	.header .header_top,.header_nav,.footer .footer_content ul.fr,.footer .footer_content ul.frly{ display:none !important;}
	.nav_mobile { display: block!important; }
  
    .footer .footer_content { width:100% !important; padding:40px 0!important;height:300px !important;}
	.footer .footer_content ul.fl.tel { float: none !important;width:100%!important;text-align: center !important;}
    .footer_bottom ul { width:90% !important; padding:20px 5% 20px 5% !important;  height: auto !important; line-height:30px !important;font-size:1.4em;} 	
	
}





/* 椤靛ご */ 
.header {width:100%;height:130px; background:url(../images/hnav_bg.jpg)  left 40px repeat-x #fff;position:relative;-webkit-box-shadow:0px 0px 5px #333;-moz-box-shadow: 0px 0px 5px #333;box-shadow: 0px 0px 5px #333; position: fixed; left:0; top:0; z-index:99;}

.header_top { background:#060026; height:40px; color:#aaa; line-height:40px;font-size:14px;}
.header_top ul {width:1000px;margin:auto;}
.header_top_fl { width:30%; float:left;}
.header_top_fr {font-size:1wpx; width:65%; float:right; text-align:right;}
.header_top_fr a {color:#aaa; display:inline-block; padding:0 5px;}
.header_top_fr a.tlogin {background:#15008c; color:#FFF; margin-left:10px;padding:0 10px;}
.header_top_fr a.treg {background:#8c7650; color:#FFF;padding:0 10px;}
.header_top_fr a.tuser { background:url(../images/tuser.png) left center no-repeat; padding-left:30px;}


.header .header_content {width:1000px;margin:auto;position:relative;}
.header .header_content .header_logo { display:block;width:235px;height:90px; background:url(../images/logo.png) no-repeat;background-size:cover;background-position:center; float:left;}
.header .header_nav {height:90px;display:block; float:right;width:660px;height:90px; text-align:right; position:relative; }
.header .header_nav * {-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;}
.header .header_nav li {width:110px;height:90px;position:relative !important;background: url(../images/yline1.jpg) right center no-repeat; float:left;}
.header .header_nav li a{width:110px;height:90px;display:block;text-transform:uppercase;text-align:center;padding:0px;overflow:hidden; position:relative;background:url(../images/nav_bg.png) center 90px no-repeat;}
.header .header_nav li a h1 {font-size:16px; position:absolute;width:110px;height:90px; text-align:center; left:0; top:35px;}
.header .header_nav li a span {font-size:16px;position:absolute;width:110px;height:90px; text-align:center; left:0; top:55px;display: none;}
.header .header_nav li a:hover h1 { top:20px;color:#fff;}
.header .header_nav li a:hover span { display:block;top:40px;}
.header .header_nav li a:hover{color:#fff;background:url(../images/nav_bg.png) center bottom no-repeat #060026;}
.header .header_nav li a.cur {color:#fff;background:url(../images/nav_bg.png) center bottom no-repeat #060026;}
.header .header_nav li a.cur h1 { top:20px;color:#fff;}
.header .header_nav li a.cur span { display:block;top:40px;}


.header .header_nav li ul.children{display:none;position:absolute;width:110px;top:90px;left:0; padding:20px 0 20px 0;background:#060026;z-index:9999;text-align:center;}
.header .header_nav li ul.children li{width:100%;padding:0; margin:auto; overflow:hidden; text-align:left;min-width:110px!important;height:auto !important; background:none !important; display:block !important;}
.header .header_nav li ul.children li a {margin:0; padding:0px; font-size:14px; color:#999; height:30px;clear:both;background:none !important;}
.header .header_nav li ul.children li a:hover {color:#fff; background:none}
.header .header_nav .navhover {color:#fff;background:url(../images/nav_bg.png) center bottom no-repeat #060026;}
.header .header_nav .navhover h1 { top:20px;color:#fff;}
.header .header_nav .navhover span { display:block;top:40px;}



/* 椤靛熬 */ 
.footer {width:100%;overflow:hidden; position:relative;  background: url(../images/fotter_bg.jpg) repeat-x #0a003f; }
.footer_t { /*background:url(../images/fotter_t.jpg) center no-repeat;*/ }
.footer .footer_content { width:1000px; margin:auto;color:#8a614a;overflow:hidden;padding:40px 0px 0px 0px; height:350px;}
.footer .footer_content ul {overflow:hidden; display:block;}
.footer .footer_content ul.fl.tel { float:left;width:310px;text-align:left;}
.footer .footer_content ul.fl *{font-weight:normal;}
.footer .footer_content ul.fl.tel h1{ padding-bottom:5px;}
.footer .footer_content ul.fl.tel h2{ font-size:26px;color:#fff; padding-bottom:10px; font-family:Arial, Helvetica, sans-serif;}
.footer .footer_content ul.fl.tel li{color:#999;line-height:24px;font-size:12px ; padding:2px 0 2px 0px;}
.footer .footer_content ul.fl.tel li strong {font-size:14px; font-weight:bold; color:#FFF; padding-top:5px; display:block; padding-bottom:5px;}

.footer .footer_content ul.fr { float:left; width:410px;overflow:hidden; padding:0px; }
.footer .footer_content ul.fr li{float:left;color:#ccc;text-align: left;min-width:100px; min-height:170px; margin-bottom:20px;} 
.footer .footer_content ul.fr li h1{ font-size:14px;color:#fff; font-weight: normal; padding-bottom:10px;}
.footer .footer_content ul.fr li a{display:block;font-size:12px;color:#999;padding-bottom:5px;}
.footer .footer_content ul.fr li a:hover{color: #fff;}

.footer .footer_content ul.frly { float: right; width:280px;overflow:hidden; padding:0px; }
.footer .footer_content ul.frly h1{ font-size:14px;color:#fff; font-weight: normal; padding-bottom:10px;}
.footer .footer_content ul.frly li { }
.footer .footer_content ul.frly li input{ clear:both; margin-bottom:10px; display:block; background:#524d61; color:#FFF; padding:2% 3%; width:94%;font-size:12px;}
.footer .footer_content ul.frly li textarea {clear:both; margin-bottom:10px; display:block; background:#524d61; color:#FFF; padding:1% 3%;width:94%; height:80px;font-size:12px; }
.ftj_btn { float:left; margin-right:2%; width:48% !important; padding:2% 0;cursor:pointer; background:#524d61;color:#ccc;}
.fcz_btn { float:left; width:50% !important;padding:2% 0; cursor:pointer; background:#524d61;color:#ccc;}
.ftj_btn:hover,.fcz_btn:hover { background:#fff;color:#000;}

.footer_bottom { background:#000; }
.footer_bottom ul{width:1000px; margin:auto;  text-align:left; color:#a3a3a3; overflow:hidden; text-align:center; padding:10px 0;}
.footer_bottom ul li { width:100%;padding:5px 0px; font-family:"Arial"; color:#666}
.footer_bottom ul li a{ padding:0px 0px; }
.footer_bottom ul li a:hover{ color:#FFF}












/* Font 瀛 */
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f38{font-size:38px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.lh150{ line-height:150%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.unl{ text-decoration:underline;}
.no-unl{ text-decoration:none;}
.border1{ border:#999 1px solid;}
.border2{ border-left:#ccc 1px solid;}
.border3{ border-bottom:#ccc 1px  solid;}
.border4{ border-top:#ccc 1px solid;}
.border5{ border:#333 1px solid;}
.border6{ border:#ccc 1px solid;}
.border7{ border-right:#ccc 1px solid;}
.border8{ border-left:#ff8a00 3px solid;}
.border9 {border-left:#ccc 1px solid;border-top:#ccc 1px solid;border-right:#ccc 1px solid;}
.border0{ border-bottom:#666 1px solid;}


/* 瀹浣 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fl{ float:left;display:inline}
.fr{ float:right;display:inline;}
.clear{clear:both;}
.clear-l{clear:left;}
.clear-r{clear:right;}
.clear130 {clear:both; height:130px;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}
* html .clearfix{height:1%;}. Clearfix{ display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.pn{position:static;}
.abs-right{}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
.block{display:block;}
.in_block{display:inline-block;}
.v_top{ vertical-align:top;}
.v_mid{ vertical-align:middle;}
.text_ind20{ text-indent:2em;}
.ov_hid{ overflow:hidden}
.one_lin{ height:20px;line-height:20px;overflow:hidden;display:inline-block;}
.two_lin{ height:40px;line-height:40px;overflow:hidden;display:inline-block;}
.nowrap{white-space: nowrap;}


/* Width & Height */
.w20{width:20px;}
.w30{width:30px;}
.w50{width:50px;}
.w60{width:60px;}
.w65{width:65px;}
.w70{width:70px;}
.w80{width:80px;}
.w85{width:85px;}
.w90{width:90px;}
.w95{width:95px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w140{width:140px;}
.w150{width:150px;}
.w190{width:190px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w320{width:320px;}
.w350{width:350px;}
.w360{width:360px;}
.w370{width:370px;}
.w380{width:380px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w540{width:540px;}
.w545{width:545px;}
.w600{width:600px;}
.w640{width:640px;}
.w700{width:700px;}
.w740{width:740px;}
.w760{width:760px;}
.w765{width:765px;}
.w770{width:770px;}
.w800{width:800px;}
.w950{width:950px;}
.w980{width:980px;}
.w1000{width:1000px;}
.w1098{width:1098px;}
.w{width:100%;}
.h{height:100%;}
.h18{height:18px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h70{height:70px;}
.h80{height:80px;}
.h135{height:135px;}
.h200{height:200px;}

/* 杈硅 */
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mtb120 { margin:120px 0;}
.mt-1{margin-top:-1px}
.mt-5{margin-top:-5px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt90{margin-top:90px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml-1{ margin-left:-1px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.ml150{margin-left:150px;}
.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr80{margin-right:80px;}
.mr100{margin-right:100px;}
.mauto { margin:auto}


.p0{ padding:0px;}
.p5{ padding:5px;}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p30{padding:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt55{padding-top:55px}
.pt90{padding-top:90px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}
.ptb50 { padding:50px 0;}

/* 2021/4/16
 * 	追加样式
 */
.text_pbottom{
	padding:10px;border-bottom:#CCC 1px solid; margin-bottom:20px;
}

.text_mtop{
	margin-top: 20px;
}

.text_plr{
	padding: 0px 15px;
	margin-top: 10px;
	font-size: 1.1em;
}

.padding_font4{
	padding: 0px 4em;
}

.text_para{
	margin-bottom:.5em;line-height: 1.2em;
}

/* index - style
 *	主页 - 追加样式
 * 2021 4 24
 */
.index_introduce{
	margin-top: 10px;
	margin-bottom: -10px;
}


/* ed - style
 *	投研团队 - 追加样式
 * 2021 5 4
 */
 .ed_item{
 	margin: 20px 0px;
 }
 
 .ed_item_name{
 	font-size: 1.2em;
 	font-weight: 900;
 	color: rgba(1,51,103,1);
 	margin: 5px 0px;
 }
 
 .ed_item_content{
 	font-size: 1.15em;
	line-height: 1.5em;
 }
 
 
 /* about_hr - style
  *	关联公司 追加样式
  */
 .logoContext{
 	height: 200px;
 }
 
 #issues li{
  	background-color: #ffffff;
  	margin: 10px 0px;
 }
 
 #issues img{
 	display:inline;
 	width: 200px;
 	height: 200px;
 }
 
 #issues span{
 	width: calc(100% - 300px);
 	font-size:1.2em;
 	line-height:1.4em;
 	padding-top: 50px;
 	padding-left: 50px;
 	padding-right: 10px;
 }
 
 /*- end -*/