
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 鍏煎iphone5 */

    .flex-control-nav{bottom:50px!important;}

}



@media screen and (max-width: 980px) {


.flexslider .swiper-slide img {opacity: 0}
.zooms {background-size:170%!important;-o-background-size:170%;-webkit-background-size:170%;-moz-background-size:170%;}

.h240px {height:240px!important;}

.imain_content {width:90%!important;}

.inews a{ float: none !important;width:96%!important; padding:2% !important; margin:5px 0px  15px 0px!important;}

.inews a img{width:100%!important; height:auto !important;}

.inews a h1 {font-size:2.2em!important;}

.inews a h2 {font-size:1.8em!important; line-height:2.0em;}

.iptable1 {display: none!important;}

.iptable2 {display: inline-table!important;}

.iabout{ height:450px !important; background:url(../images/iabout_bg.jpg) center  no-repeat !important;font-size:1.6em!important;}

.iability a{ width:46%!important;padding:2% !important;  margin:0 !important;}

.iptable1 td ,.iptable2 td,.iptable3 td {font-size:1.1em!important;padding:15px 5px!important;}



.itip {display: none!important;}

.subscribe input{line-height:45px !important; font-size:16px !important;}

.subscribe select {  line-height:45px !important; font-size:16px !important; height:45px}

.iability a span{ font-size:16px !important; min-height:170px !important;}

/*



.subscribe td { display:block; text-align:left;}

.subscribe tr { display:block; margin-bottom:10px; background:#f1f1f1; padding:10px; overflow:hidden; height:auto;}

.inline1 { color:#000 !important;}



 */

 
.tab li{min-width:100px !important;}
 	

}











/*骞垮憡鍥�/

.zooms { background-position:center top; background-repeat:no-repeat;}

.flexslider {width:100%;position:relative;overflow:hidden;zoom:1;}

.h240px {height:500px;}

.flexslider .slides {zoom:1; text-align:center;background:#fff;}

.flexslider .slides li div.img a{width:100%;height:500px; display:block;}
.flexslider .swiper-slide img {display: block;width: 100%;height:auto;}
.flexslider .swiper-slide a{display: block;}

.flex-control-nav{width:100%;position:absolute;bottom:20px;text-align:center; z-index:90;}

.flex-control-nav li{margin:0 1px;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;}

.flex-control-paging li a{background:url(../images/dot.png) no-repeat -1px -26px;display:block;overflow:hidden;text-indent:-99em;width:20px;height:20px;cursor:pointer;}

.flex-control-paging li a.flex-active{background-position:-1px 0;}



.flex-direction-nav a{width:60px;height:90px;overflow:hidden;display:block;background:url(../images/ad_ctr.png) no-repeat;position:absolute;top:40%;z-index:90;cursor:pointer;opacity:1;filter:alpha(opacity=100); line-height:99em;}

.flex-direction-nav .flex-next{background-position:30px -50px;right:5%;}

.flex-direction-nav .flex-prev{background-position:0 45px;left:5%;}











/*棣栭〉鍐呭*/

.imain{ background:#fff;overflow:hidden;}

.imain_content { width:1000px; margin:auto;overflow:hidden;}

.ititle { text-align:center;}

.ititle h1{font-size:30px; color: #0a003d; padding-bottom:10px;}

.ititle h2{font-size:16px;color: #a1875b; text-transform:uppercase;}





/*鏂伴椈*/

.inews{overflow:hidden; margin:30px 0;}

.inews a{ float:left; width:303px; padding:10px; margin:5px; display:block;background:#f2f2f2; overflow:hidden; min-height:325px;}

.inews a img{}
.inews a img {display: block;width: 100%;}
.inews a h1 {font-size:18px; padding:10px 0;}

.inews a h2 {font-size:14px;}

.inews a:hover { background:#0a003d;}

.inews a:hover h1,.inews a:hover h2 { color:#FFF;}

.imore { border:#0a003d 1px solid; padding:0 5%; margin:auto;width:50px; line-height:35px;color:#666; display:block; text-transform:uppercase; text-align:center; font-size:14px;}

.imore:hover { background:#0a003d;color:#FFF;}







/*鍏充簬*/

.iabout{overflow:hidden;margin:30px 0; height:650px; background:url(../images/iabout_bg.jpg) center  top no-repeat; font-size:14px; line-height:24px; text-align:center; color:#FFF;}

.iabout img { width:100%;}

.ititle1 { text-align:center;}

.ititle1 h1{font-size:30px; color: #fff;padding-bottom:10px;}

.ititle1 h2{font-size:16px;color: #fff; text-transform:uppercase;}

.imore1 { border:#ccc 1px solid; padding:0 5%; margin:auto;width:50px; line-height:35px;display:block; text-transform:uppercase; text-align:center; font-size:14px;color:#fff;}

.imore1:hover { background:#fff;color:#000;}









/*鑳藉姏*/

.iability {overflow:hidden; margin:30px 0;}

.iability a{ float:left; width:225px; padding:10px; margin:2px; display:block;background:#f2f2f2; overflow:hidden; text-align:center;cursor: pointer;}

.iability a span{ padding:120px 20px 40px 20px; border:#CCC 1px dashed; overflow:hidden; display:block;min-height:160px;}

.iability a span h1 {font-size:18px; padding:20px 0;}

.iability a span h2 {font-size:14px;line-height:1.4em!important; text-align:left;}

.iability a span.iac1{background:url(../images/ability01.png) center 20px no-repeat;}

.iability a span.iac2{background:url(../images/ability02.png) center 20px no-repeat;}

.iability a span.iac3{background:url(../images/ability03.png) center 20px no-repeat;}

.iability a span.iac4{background:url(../images/ability04.png) center 20px no-repeat;}

/* 业务介绍 · 改 */
.iability a span.iacU1{background:url(../images/funds_1.png) center 20px no-repeat;}

.iability a span.iacU2{background:url(../images/funds_2.png) center 20px no-repeat;}

.iability a span.iacU3{background:url(../images/funds_3.png) center 20px no-repeat;}

.iability a span.iacU4{background:url(../images/funds_4.png) center 20px no-repeat;}

.iability a span.iacU5{background:url(../images/funds_5.png) center 20px no-repeat;}

.iability a span.iacU6{background:url(../images/funds_6.png) center 20px no-repeat;}


.iability a:hover span.iacU1{background:url(../images/fund_1.png) center 20px no-repeat;}

.iability a:hover span.iacU2{background:url(../images/fund_2.png) center 20px no-repeat;}

.iability a:hover span.iacU3{background:url(../images/fund_3.png) center 20px no-repeat;}

.iability a:hover span.iacU4{background:url(../images/fund_4.png) center 20px no-repeat;}

.iability a:hover span.iacU5{background:url(../images/fund_5.png) center 20px no-repeat;}

.iability a:hover span.iacU6{background:url(../images/fund_6.png) center 20px no-repeat;}
/* - end - */

.iability a:hover { background:#0a003d;color:#FFF;}

.iability a:hover span{  border:#8c7650 1px dashed;}

.iability a:hover span.iac1{background:url(../images/ability011.png) center 20px no-repeat;}

.iability a:hover span.iac2{background:url(../images/ability022.png) center 20px no-repeat;}

.iability a:hover span.iac3{background:url(../images/ability033.png) center 20px no-repeat;}

.iability a:hover span.iac4{background:url(../images/ability044.png) center 20px no-repeat;}







/*浜у搧*/

.iproduct { overflow:hidden; margin:auto; background:#f2f2f2;}

.tab_main {  position:relative; overflow:hidden; background:none; margin:30px auto auto auto;}

.tab{overflow: hidden; text-align: center;margin:auto;}

.tab li{min-height:20px;text-align:center; color:#999; font-size:16px; padding:10px 20px;font-weight:normal;display:inline-block;*display:-moz-inline-stack;zoom:1;*display:inline;position:relative; margin:5px;cursor:pointer; background:#CCC; text-transform:uppercase; min-width:120px;}

.tab li.on{color:#fff; background:#0a003d}

.con{width:100%;position:relative;overflow:hidden; margin:auto auto 50px auto;}

.con_main {width:100%;position:relative; overflow: hidden; font-size:14px;margin:auto;}

.tab_txt { font-size:14px;text-align: center; padding:10px 0;line-height:26px;color:#999;}

.tab_txt a { color:#a68c5e; padding:0 3px; }

.tab_txt a:hover  { text-decoration:underline;}





/*浜у搧璁よ喘琛ㄦ牸*/

.iptitle { font-size:14px; color:#a68c5e; background:#0a003d; }

.iptitle td {padding:15px 0px;}

.iptable1 { text-align:center;margin:auto;width:100%;}

.iptable2 { text-align:center;margin:auto;width:100%;display:none;}

.iptable1 tr ,.iptable2 tr{ border-bottom:#CCC 1px solid;}

.iptable1 tr:hover ,.iptable2 tr:hover {background:#b39666; color:#FFF;}

.iptable1 tr:hover a,.iptable2 tr:hover a{ color:#FFF;}

.iptable1 td ,.iptable2 td{padding:15px 20px;}

.iptable1 a ,.iptable2 a{ color:#090038; }

.iptable1 a:hover,.iptable2 a:hover  {color:#fff; text-decoration:underline;}







/*浜у搧璁よ喘寮圭獥*/

.inline { padding:0 20px;overflow:hidden; display:none; font-size:12px; line-height:22px;}

.inline strong { font-size:26px; border-bottom:#CCC 1px solid; line-height:30px; color:#000; display:block;text-align:center; font-weight:normal; padding:2% 0;}

.inline li {}

.subscribe {font-size:16px; margin-bottom:20px;}

.subscribe td { padding:2px 10px;}

.subscribe input{ border:#333 1px solid; line-height:25px; padding:0 20px; color:#333; font-size:14px;}

.subscribe select { border:#333 1px solid; line-height:30px; padding:0 0px 0 0px; color:#333; font-size:14px;}

.zxsqbtn,.qxbtn { cursor:pointer;float:left;width:100px; padding:10px; text-align:center;}

.zxsqbtn { background:#b49f7c; color:#FFF;  margin-right:20px;}

.zxsqbtn:hover { background:#090038; color:#FFF;}



.inline1 { padding:0;overflow:hidden; display:none; font-size:12px; line-height:22px;}

.inline1 strong { font-size:26px; border-bottom:#CCC 1px solid; line-height:30px; color:#000!important; display:block; background: #f2f2f2; text-align:center; font-weight:normal; padding:2% 0;}





























































